.App {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(https://wallpaperaccess.com/full/4391661.jpg);
  background-size:cover;
}
.container {
  display: flex;
  width: 60%;
  height: 450px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  opacity: 0.9;
}
.image {
  padding-left:5%;
  padding-top: 5%;
  border-radius: 20px;
  border: 1px solid transparent;
}
.form {
  padding-left: 10%;
  padding-top: 20%;
}